*root {
    --vermelho: #E50914;
    --preta: #141414;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: #141414;
    color: #fff;

}

header .container {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo-da-netflix {
    color: #E50914;
    font-family: 'Graphique';
    font-size: 50px;
    margin-left: 20px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-size: 20px;
}

header nav a:hover{
    color: #fff;
}

.em-destaque {
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/The-Witcher.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.em-destaque{
    padding-left: 20px;
}

.em-destaque .descricao{
    margin-bottom: 30px;
    margin-top: 10px;
}

p span {
    color: rgb(180, 180, 180);
}

.em-destaque .titulo{
    margin-top: 10%;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.em-destaque .container{
    width: 70%;
}

.botao{
    background-color: rgba(0, 0, 0,.50);
    border: none;
    color:white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 9px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}